extends layout

block content
  a(class="addMessage" href="/new") Add message
  each message in messages 
    div(class="messages")
      div(class="messageBox")
        p(class="messageContent") #{message.text}
        div(class="messageTime")
          p(class="messageAuthor") #{message.user}
          p(class="messageData") #{message.added}