extends layout

block content
  div(class="addMessage") Add message
  div(class="messages")
    div(class="messageBox")
      h1(class="messageTopic") This is a title
      p(class="messageContent") This is a message content This is a message content This is a message content
      div(class="messageTime")
        p(class="messageAuthor") Author
        p(class="messageData") 2 days ago