extends layout

block content
  div(class='messageFormContainer')
    form(method="POST" action="/new")
      textarea(class="messageFormContent" name="content" placeholder="Message" type="text" required)
      input(class="messageFormAuthor" name="author" placeholder="Author" type="text" required)
      button(class="messageFormSubmit" type="submit") Submit